<!DOCTYPE html>

<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-189670847-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-189670847-1');
  </script>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/developers.min.js"></script>
  <!-- KakaoTalk Share Script -->
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script type="text/javascript">
    Kakao.init('f81e126250c6d03d872616d178061bce');

    function sendLink() { // 카카오톡 공유하기
    Kakao.Link.sendDefault({
      objectType: 'text',
      text: '내 성향과 상황에 맞는 종목 선정, 최적의 매매 시기 그리고 머신러닝 금융 분석까지 지금 확인하세요. 투자, 더 이상 걱정말고 주사장!',
      link: {
        mobileWebUrl: 'https://developers.kakao.com/docs/js/kakaotalklink#텍스트-템플릿-보내기',
        webUrl: 'https://developers.kakao.com/docs/js/kakaotalklink#텍스트-템플릿-보내기',
      },
    })
  }
  </script>
  <meta name="naver-site-verification" content="1878f91a81b2bf79ca989f6966fbda83e5d68f44" />
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="icon" href="{% static 'main/favicon.ico' %}">
  <link rel="canonical" href="https://www.joosajang.website">
  <script src="{% static 'main/cat.js' %}" type="text/javascript" ></script>
  <script data-ad-client="ca-pub-9317952330520251" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <title>스마트 투자 테스트 <주사장></title>
  <meta name="description" content="내 성향과 상황에 맞는 종목 선정, 최적의 매매 시기 그리고 머신러닝 금융 분석까지 지금 바로 확인하세요!" />
  <meta property="og:title" content="스마트 투자 테스트 <주사장>" />
  <meta property="og:description" content="투자, 더 이상 걱정말고 주사장!" />
</head>

<body>
<!--  <div class="body"></div>-->

  <div class="frame" >
    <div id="head">
    <div class="ears"></div>
    <div class="face"></div>
        <div class="face-hl"></div>
        <div class="hair-shadow"></div>
    <div class="hair-back"></div>
        <div class="hair-front"></div>
    <div class="nose"></div>
    <div class="bowtie"></div>
    <div class="eyeglass"></div>

    <div class="eyes-steps eye-left"></div>
    <div class="eyes-steps eye-right"></div>
  </div>

  <div class="subtitle">
      <h1 class="subtext">매매시기,종목선정, 머신러닝 금융 분석까지</h1>
      <h1 class="subtext">회원가입 없이 간편하게 주사장에서!</h1>
	  <h1 class="subtext">스마트 투자 테스트 <주사장> </h1>
	  <h1 class="subtext"></h1>
	  <h1 class="subtext"></h1>
  </div>
	  
  <div class="btn_group">
    <div class="btn-group">
      <a href="https://www.joosajang.website/" class="btn btn-info">
        <button id="Select">
          <h1 class="btn">시작하기!</h1>
        </button>
      </a>
    </div>

    <!-- <div class="btn-group">
      <a href="{% url 'test2:index' %}" class="btn btn-info">
        <button id="Select">
          <h1 class="btn">내 전략에 맞는 매매 시기</h1>
        </button>
      </a>
    </div>

    <div class="btn-group">
      <a href="{% url 'test3:index' %}" class="btn btn-info">
        <button id="Select">
            <h1 class="btn">관심종목 투자 성과 분석</h1>
        </button>
      </a>
    </div>

    <div class="btn-group">
      <a href="{% url 'test4:index' %}" class="btn btn-info">
        <button id="Select" class="btn_special">
            <h1 class="btn">머신러닝 금융 분석실</h1>
        </button>
      </a>
    </div> -->
  </div>

  

  <div class="tailtitle">
    <h1 class="tailtext"> </h1>
	<h1 class="tailtext"> </h1>
    <h1 class="tailtext">Mobile : +82)010-2967-4968 / Mail : joojs2004@gmail.com</h1>
    <h1 class="tailtext">Copyright &copy; 2021. CRIMSON JOO 주정수 All Rights Reserved.</h1>
  </div>




</body>

</html>

<!--Copyright (c) 2021 by CookiePanda (https://codepen.io/CookiePanda/pen/XqWvdW)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->


<!--Copyright (c) 2021 by Philip Park (https://codepen.io/PhilipMothPark/pen/XMrPRw)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->



