@import "reset.css";
@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'BMHANNAPro';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
font-weight: normal;
font-style: normal;
}

.sns-go {text-align:center; padding: 20px 0;}
.sns-go li {display:inline-block; margin: 0 5px; }
.sns-go li img {border-radius:50%;}

.disqus-row {
background-color : white;
    width : 80%;
    padding : 2rem;
    border-radius : 1rem;
    margin : 0 auto;
}

.banner_box {
    display : flex;
    justify-content : space-evenly;
    margin : 0 auto;
}

.clickmon_box {
    margin : 0 auto;
    width : 18.75rem;
    padding-bottom : 0.4rem;
}

.clickmon_shortline {
    margin : 0 auto;
    width : 20rem;
    padding-bottom : 0.4rem;
}

.clickmon_padding {
    margin : 0 auto;
    width : 45.5rem;
    padding-bottom : 0.5rem;
}

.ad-banner_longline {
    margin : 0 auto;
    padding-top : 0.25rem;
    padding-bottom : 0.25rem;
}

.ad-banner_line {
    width : 20rem;
    margin : 0 auto;
    padding-top : 0.25rem;
    padding-bottom : 0.25rem;
}

.ad-banner_rect {
    width : 18.75rem;
    margin : 0 auto;
    padding-top : 0.5rem;
    padding-bottom : 0.5rem;
}

.ad-banner_vertical {
    width : 10rem;
    margin : 0 auto;
    padding-top : 0.25rem;
    padding-bottom : 0.25rem;
}

.btn_idx_group {
    margin-top : 4rem;
    margin-bottom : 5rem;
    display : flex;
    flex-direction : column;
    align-items : center;
}

.btn {
    font-size: 3.5rem;
}

button {
color: white;
font-family: 'MaplestoryOTFBold';
background-color: #fab70f;
border-style: solid;
border-bottom-color: #ad7900;
border-width: 0px;
border-bottom-width: 0.43rem;
border-radius: 0.75rem;
padding: 0.5rem;
}
button:active {
border-bottom-width: 0px;
position: relative;
top: 0.43rem;
}
button:focus {
outline: none;
}

.btn_special {
color: white;
font-family: 'MaplestoryOTFBold';
background-color: #fc6e6e;
border-style: solid;
border-bottom-color: #df4343;
border-width: 0px;
border-bottom-width: 0.43rem;
border-radius: 1rem;
padding: 0.5rem;
}
.btn_special:active {
border-bottom-width: 0px;
position: relative;
top: 0.43rem;
}
.btn_special:focus {
outline: none;
}

.tailtitle {
    padding-top:2rem;
}

.tailtext {
    font-family: 'MaplestoryOTFBold';
    text-align : center;
    font-size: 1rem;
    border-top: 3rem;
    padding-bottom: 0.5rem;
}

.subtext {
    font-family: 'MaplestoryOTFBold';
    text-align : center;
    font-size: 2.2rem;
    padding-bottom:1rem;
}

.btn_group {
    margin-top : 3rem;
    margin-bottom : 4.5rem;
    display : flex;
    justify-content : space-around;

}

.title .text1 {
    padding-top: 11rem;
    padding-right:7rem;

    font-family: 'BMJUA';
    font-size: 6.5rem;
    text-align:center;
}

.title .text2 {
    padding-top: 0.6rem;
    font-family: 'MaplestoryOTFBold';
    font-size: 2rem;
    text-align:center;
}

.img_box_jocoding {
    padding-top : 0.5rem;
    padding-bottom : 0.7rem;
    display : flex;
    justify-content: center;
    align-items:center;
}

body {
        background-color: #a8d3e2;
        font-family: 'MaplestoryOTFBold';
}

#head {
        position: relative;
        bottom: 7.813rem;
        left: 6%
}

.frame{
        display: block;
		background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1083504/Cat_Body_V3.png') no-repeat;
        position: absolute;
        width: 60.75rem;
        left:50%;
        margin-left: -30.38rem;
        -webkit-perspective: 1000;
    }
    .layer{
        height: 55.31rem;
        width: 60.75rem;
        position: absolute;
    }

    #head{
        height: 55.31rem;
        width: 60.75rem;
        -webkit-transform-style: preserve-3d;


    }
    .face{

        -webkit-transform: translateZ(20px);
    }
	.ears{
		position:absolute;
		left: 34%;
		bottom:27.5rem;
		margin-left:- 8.75rem;
		width:17.56rem;
		height:3.75rem;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1083504/Cat_ears.png') no-repeat;
        -webkit-transform: translateZ(4.375rem);

    }
	.face{
		position:absolute;
		left: 84%;
		bottom: 9.875rem;
		margin-left:-30.5rem;
		width:14.06rem;
		height:19.81rem;
		background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1083504/Cat_face.png') no-repeat;
        -webkit-transform: translateZ(2.5rem);
    }
    .hair-shadow{
		position:absolute;
		left: 48%;
		bottom:20rem;
		margin-left:-8.438rem;
		width: 13.19rem;
		height:7.5rem;
		background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1083504/Cat_hairshadow.png') no-repeat;
		-webkit-transform: translateZ(3.5rem);
	}
   .hair-back{
		position:absolute;
		left: 46.9%;
		bottom: 17.63rem;
		margin-left:-8.438rem;
		width:13.19rem;
		height: 13.31rem;
		background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1083504/Cat_backhair.png') no-repeat;
		-webkit-transform: translateZ(3.75rem);
	}
	.hair-front{
		position:absolute;
		left: 46.3%;
		bottom: 19.06rem;
		margin-left:-55px;
		width:13.75rem;
		height:13rem;
		background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1083504/Cat_fronthair.png') no-repeat;
		-webkit-transform: translateZ(4.063rem);
	}
	.nose{
		position:absolute;
		left:45.3%;
		bottom:12.5rem;
		margin-left:-2.375rem;
		width:4.938rem;
		height: 8.688rem;
		background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1083504/Cat_Nose.png') no-repeat;
        -webkit-transform: translateZ(5rem);

    }
	.moustache{
		position:absolute;
		left: 52%;
		top:28.13rem;
		margin-left:-4.25rem;
		width:6.938rem;
		height:3.813rem;
		background: url('Mustache.png') no-repeat;
		-webkit-transform: translateZ(4.688rem);

	}
    .eyeglass{
		position:absolute;
		left: 42.8%;
		top:31.19rem;
		margin-left:-4.25rem;
		width:6.938rem;
		height:3.813rem;
		background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1083504/Cat_eyeglass.png') no-repeat;
		-webkit-transform: translateZ(4.375rem);

	}

    @-webkit-keyframes _eyes {
        0% { background-position: 0px; }
		60% { background-position: 0px; }
        100% { background-position: -13rem; }
    }

    @-moz-keyframes _eyes {
        0% { background-position: 0px; }
		60% { background-position: 0px; }
        100% { background-position: -13rem; }
    }

    @keyframes _eyes {
        0% { background-position: 0px; }
		60% { background-position: 0px; }
        100% { background-position: -13rem; }
    }

	.eye-left{
		bottom: 20.63rem;
        left:21.88rem;
	}
	.eye-right{
		bottom: 20.63rem;
        left:28.13rem;
	}
    .eyes-steps {
        width: 3.25rem;
        height:  4.375rem;
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1083504/Cat_Eyes.png");
        margin: 0 auto;
        position:absolute;
        -webkit-transform: translateZ(3.438rem);
        -webkit-animation: _eyes .3s steps(4, end);
        -moz-animation: _eyes .3s steps(4, end) ;
        animation: _eyes .3s steps(4, end)  ;
        animation-play-state: paused;
        -moz-animation-play-state: paused; /* Firefox*/
        -webkit-animation-play-state: running; /* Safari and Chrome */
        -o-animation-play-state: running; /* Opera */